<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p {
      font-family: '微软雅黑', sans-serif;
      font-size: 26px;
    }
  </style>
</head>
<body>
  <div id='app'>
    <p>
      分数: {{score}}
    </p>
    <div>
      <!-- 使用v-if和else-if判断分数大小，但是如果判断过多还是使用计算属性为好 -->
      <p v-if='score==100'>天才!</p>
      <p v-if='score>=90'>优秀！</p>
      <p v-else-if='score>=80'>良好。</p>
      <p v-else-if='score>=60'>及格。</p>
      <p v-else>不及格！！！</p>
    </div>
    <p>
      使用计算属性获得的结果：
      {{result}}
    </p>
    <div>
      <label for="score">你的分数：</label>
      <input type="number" min='0' max='100' name="score" id="score" @keyup.enter='btnChangeScore'>
    </div>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message:'Hello, vue!',
        score: 88,
      },
      computed: {
        result() {
          let showMessage = ' ';
          if (this.score >= 90) {
            showMessage = '优秀！'
          } else if (this.score >= 80) {
            showMessage = '良好。';
          } else if (this.score >= 60) {
            showMessage = '合格。';
          } else {
            showMessage = '不及格！！！';
          }
          return showMessage;
        }
      },
      methods: {
        btnChangeScore(e) {
          let score = e.target.value
          console.log(score);
          this.score = Number(score);
        }
      }
    });
  </script>
</body>
</html>