html {
    box-sizing: border-box;
    font-family: fangsong,Arial, Helvetica, sans-serif;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    background-color: black;
    width: 80%;
    margin: 0 auto;  
}
header {
    display: inline-block;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}
h1 {
    width: 96%;
    margin: 0 auto;
    padding: 1em;
}
article {
    display: inline-block;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 1em;
    border-bottom: 5px solid black;
}
h2 {
    color: white;
    background-color: black;
    width: fit-content;
    margin: 1em;
}
span {
    background-color: #eeeeee;
    color: blue; 
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-indent: 1.5em;
    width: 94%;
    margin: 1em auto;
}
h3 {
    margin: 1em;
}
ul {
    width: 88%;
    margin: 1em auto;

}
.part {
    width: 96%;
    margin: 1em auto;
    border-top: dashed 3px slategray;
}
.control {
    display: inline;
    background-color: #dddddd;
    color: red;    
}
.lizi {
    width: 90%;
    border: 5px solid aqua;
    padding: 1em;
    margin: 0.5em auto;
}
.lizi > div {
    border:1px solid firebrick;
}
.lizi .overflow {
    width: 30px;
    height: 100px;
    padding: 0.5em;
    margin: 1em auto;
}
.percentage {
    inline-size: 300px;
    margin: 10%;
    padding: 10%;
    border: 1px solid aqua;
}
.box {
    display: block;
    width: 200px;
    min-height: 100px;
    margin: 1em auto;
    padding: 1em;
    border: 5px solid blue;
}
.wrapper {
    display: flex;
    align-items: flex-start;
}
.box2 {
    width: 200px;
    height: 200px;
    border: blue 1px solid;
    margin: 1em auto;
}
.width {
    width: 100%;
}
.max {
    max-width: 100%;
}
.min {
    width: 100px;
    height: 150px;
    border: blue 1px solid;
    margin: 1em auto;
}

