.fontbox {
    font-family: 'Liu Jian Mao Cao',cursive;
}

#fontbox1 p span {
    font-family: "Palatino Linotype", Palladio, "URW Palladio", serif;
}
#fontbox2 p span {
    font-family: "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;
}
#fontbox3 p span {
    font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}
#fontbox4 p span {
    font-family: "Brush Script MT", "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
}
#fontbox5 p span {
    font-family: Herculanum, Party LET, Curlz MT, Harrington, Papyrus, fantasy;
}

#fontbox6 p span {
    font-family: system-ui;
}
#fontbox7 p span {
    font-family: math;
}
#fontbox8 p span {
    font-family: emoji;
}
#fontbox9 p span {
    font-family: fangsong;
}

#border-div {
    height: 10em;
    width: 10em;
    border-bottom: hsla(250,70%,80%,0.8) 6px ;
    border-bottom-style: solid;
    border-top: black 4px dotted;
    border-left: dotted 4px black;
    border-right: black 4px dotted;
}

#border-div span {
    display: block;
    margin-top: 9em;
    text-align: center;
}

#weightbox .span1 {
    display: block;
    font-weight: normal;
}
#weightbox .span2 {
    display: block;
    font-weight: bold;
}
#weightbox2 {
    font-family: fangsong;
    font-weight: 500;
}
#weightbox2 .span1 {
    display: block;
    font-weight: lighter;
}
#weightbox2 .span2 {
    display: block;
    font-weight: bolder;
}