.lizi {
  border: 2px solid aquamarine;
  border-radius: 5px;
  width: 95%;
  margin: 1em auto;
  padding: 1em;
}

.lizi .outif {
  text-align: center;
}

.lizi .outif p {
  background-color: rgba(0, 255, 21,0.8);
  text-indent: 0;
  font-family: sans-serif;
}

.lizi .outelseif {
  text-align: center;
}

.lizi .outelseif p {
  text-indent: none;
  font-weight: bold;
}

.lizi .outswitch {
  text-align: center;
}

.lizi .outswitch p {
  text-indent: none;
  font-weight: bold;
}

.lizi .outthree {
  text-align: center;
}

.lizi .rili ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.lizi .rili ul li {
  list-style-type: none;
  width: 24%;
  text-align: center;
  background-color: coral;
  border-radius: 2px;
  padding: 0.3em;
}

.lizi .canvasfor {
  text-align: center;
}

.lizi .stringfor ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.lizi .stringfor ul li {
  width: 24%;
  padding: 0.3em;
  text-align: center;
  background-color: rgb(252, 238, 111);
}

.lizi .search {
  text-align: center;
  text-indent: none;
}

.search #name {
  border: 2px solid rgb(252, 104, 50);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgb(252, 196, 176);
  padding: 5px;
}
.search #name:focus {
  outline: none;
  border: 2px solid rgb(219, 6, 105);
}

.search input[type='submit'] {
  border-radius: 3px;
  border: 2px solid rgb(252, 104, 50);
  background-color: rgb(255, 208, 191);
  padding: 5px;
}

.search p {
  background-color: aquamarine;
  line-height: 1.8;
  margin-top: 0.2em;
}

.intsquare {

  width: 57%;
  margin: 1em auto;
}
.intsquare input {
  padding: 0.3em;
  border-radius: 5px;
  background-color: azure;
  margin-left: 1em;
}
.intsquare p {
  text-indent: 0;
  background-color: aquamarine;
  margin-top: 0.3em;
}
