<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>表单form</title>
</head>
<body>
  <form action="{{url_for('hello')}}" method="POST" enctype="multipart/form-data">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="user_name" id="name" placeholder="输入名称">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="user_email" id="email" placeholder="输入邮箱">
    </div>
    <div>
      <label for="msg">Message:</label>
      <textarea name="user_msg" id="msg" cols="30" placeholder="信息"></textarea>
    </div>
    <div>
      <label for="user_file">File：</label>
      <input type="file" name="user_file" id="user_file">
    </div>
    <div class='button'>
      <button type="submit">
        发送信息
      </button>
    </div>
  </form>
</body>
</html>