#saizi {
    transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
}
.notranslate {
    color: #212121;
    text-rendering: optimizeSpeed;
    letter-spacing: -.0027777778rem;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border-left: 6px solid #00458b;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 0 24px;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
    width: 100%;
    background-color: #eee;

}
span {
    border: blueviolet 1px solid;
    background: lime;
}
