/* 优先级，类选择器>元素选择器 */
.lizi {
    color: green;
}

h3 {
    color: red;
}

/* 覆盖性 */
.lizi2 {
    color: green;
}
.lizi2 {
    color:red;
}

/* 优先级，id选择器>类选择器 */
#liziid {
    color: blue;
}
.lizi3 {
    color:red;
}
/* font-size例子 */
#span1 {
    font-size: xx-small;
}
#span2 {
    font-size: x-small;
}
#span3 {
    font-size: small;
}
#span4 {
    font-size: medium;
}
#span5 {
    font-size: large;
}
#span6 {
    font-size: x-large;
}
#span7 {
    font-size: xx-large;
}

#rspan1 {
    font-size: larger;
}
#rspan2 {
    font-size: smaller;
}

#lspan1 {
    font-size: 0.5em;
}   
#lspan2 {
    font-size: 1.0ex;
}
#lspan3 {
    font-size: 26px;
}

#pspan {
    font-size: 50%;
}

/* width例子 */
#wdiv1 {
    box-sizing:content-box;
    width: 26px;
    border: 1px solid black;
}

#wdiv2 {
    width: 2em;
    border: 1px solid black;
}

#wdiv3 {
    width: 13px;
    border: 1px solid black;
}

#wdiv4 {
    width: 500px;
    border: 1px solid black;
}
#outdiv {
    width: 15em;
    height: 5em;
    border: 1px solid black;

}

#wdiv5 {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

#wdiv6 {
    width: auto;
    border: 1px solid black;
}
#wdiv7 {
    width: max-content;
    border: 1px solid black;
}
.wdiv8 {
    width: min-content;
    border: 1px solid black;
}
#wdiv9 {
    width: fit-content;
    border: 1px solid black;
}
#outdiv2 {
    width: 15em;
    height: 20em;
    border: 1px solid black;
}
#wdiv10 {
    width: fit-content;
    border: 1px solid black;
}
#wdiv11 {
    width: fit-content;
    border: 1px solid black;
}
#wdiv12 {
    width: fit-content;
    border: 1px solid black;
}

/* background-color例子 */
#bcdiv1 {
    width: fit-content;
    background-color: red;
}

#bcdiv2 {
    width: fit-content;
    background-color: #789abc;
}

#bcdiv3 {
    width: fit-content;
    background-color: rgb(123, 231, 213, 0.5);
}

#bchdiv1 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 80%, 0.5);
}
#bchdiv2 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 70%, 0.5);
}
#bchdiv3 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.5);
}
#bchdiv4 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 50%, 0.5);
}
#bchdiv5{
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 40%, 0.5);
}

#bchdiv6 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 1.0);
}
#bchdiv7 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.8);
}
#bchdiv8 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.6);
}
#bchdiv9 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.4);
}
#bchdiv10{
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.2);
}

#bcsdiv1 {
   
    width: 20em;
    height: 2em;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
    background-color: transparent;
}

#bcsdiv2 {
    width: 20em;
    height: 2em;
    background-color: currentColor;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
}
#bcsdiv3 {
    width: 20em;
    height: 2em;
    color:hsla(120, 100%, 60%, 0.8);
    background-color: currentColor;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
}
/* color例子 */
#cdiv1 {
    color:red;
    width: fit-content;
    border: solid 1px currentColor;
    text-decoration: underline;
}
#cdiv2 {
    color:#789abc;
    width: fit-content;
    border: solid 1px currentColor;
    text-decoration: underline;
}
#cdiv3 {
    color:rgb(123, 231, 213, 0.8);
    width: fit-content;
    border: solid 1px currentColor;
    text-decoration: underline;
}
#cdiv4 {
    color: hsla(120, 100%, 60%, 0.8);
    width: fit-content;
    border: solid 1px currentColor;
    text-decoration: underline;
}
#cdiv5 {
    color: hsl(120, 100%, 60%);
    width: fit-content;
    border: solid 1px currentColor;
    text-decoration: underline;
}

/* border例子 */
#bdiv1 {
    width: 20em;
    height: 10em;
    border: 1em solid;
}
#bt1 {
    border: 1px none black;
    border-collapse: collapse;/*相邻边被合并*/
}
#bt1 td {
    border: 1px solid blue;
}
#bt2 {
    border: 1px hidden black;
    border-collapse: collapse;/*相邻边被合并*/
}
#bt2 td {
    border: 1px solid blue;
}
#bdiv2 {
    border: blue 13px dotted;
    width: fit-content;
}
#bdiv3 {
    width: fit-content;
    border: dashed 3px black; 
}
#bdiv4 {
    width: fit-content;
    border: double thick black; 
}
#bdiv5 {
    width: fit-content;
    border: groove 10px gray; 
}
#bdiv6 {
    width: fit-content;
    border: ridge 10px gray; 
}
#bdiv7 {
    width: fit-content;
    border: inset 5px; 
}
#bdiv8 {
    width: fit-content;
    border: outset 5px; 
}
#outdiv3 {
    border: 2px solid black;
}
#innerbox {
    width: calc(90% - 30px);
    background-color: chartreuse;
    color:red;
    padding: 10px;
    margin: 0 auto;
}
.box {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    background-color: chartreuse;
    transform: rotate(0.6turn);
}
/* 修饰表格为矩阵样式 */
.matrix {
    position: relative;
}
.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}

#imagebox1 {
   

    border: 3px black solid;
    height: 23em;
}
#imagebox1 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: matrix(1, 0, 0, 1, 30, 40);

}

#imagebox2 {
    border: 3px black solid;
    height: 23em;
}
#imagebox2 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: matrix(1.3, 0, 0, 0.8, 0, 0);
}

#imagebox3 {
    border: 3px black solid;
    height: 23em;
}
#imagebox3 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: matrix(0.866, 0.5, -0.5, 0.866, 223, 0);
    
}

#imagebox4 {
    border: 3px black solid;
    height: 23em;
}
#imagebox4 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: matrix(1, 0, 0, 1, 223, 0) rotate(30deg);
}
#imagebox5 {
    border: 3px black solid;
    height: 23em;
}
#imagebox5 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: matrix(1, 0, 0, 1, 223, 0) rotate(0.083turn);
}

#imagebox6 {
    border: 3px black solid;
    height: 23em;
}
#imagebox6 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: scale(1.5,0.9);
}
#imagebox7 {
    border: 3px black solid;
    height: 23em;
}
#imagebox7 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: skew(10deg,10deg);
}
#imagebox8 {
    border: 3px black solid;
    height: 25em;
}
#imagebox8 img {
    border: 1px hsla(120, 100%, 60%, 0.8) solid;
    transform-origin: top left;
    transform: translate(80px,20%);
}

/* 背景图片 */
#bimagebox1 {
    width: 1335px;
    height: 445px;
    border: 3px solid black;
    background-image: url(../images/骰子2.png),url(../images/65123727_1.gif);
}
#bimagebox2 {
    width: 1335px;
    height: 445px;
    border: 3px solid black;
    background-image: url(../images/65123727_1.png), url(../images/骰子2.png);
}
#bimagebox3 {
    width: 1335px;
    height: 445px;
    border: 3px solid black;
    background-image: url(../images/65123727_1.png), url(../images/骰子2.png);
    background-color: coral;
}

#bimagebox4 {
    width: 1335px;
    height: 445px;
    border: 3px solid black;
    background-image: url(../images/65123727_1.png), url(../images/骰子2.png),
        linear-gradient(to right, hsla(120,100%,80%,0.8),hsla(300,100%,80%,0.5));
}
#mediabox {
    width: 20em;
    height: 20em;
    background-color: hsla(120, 100%, 60%, 0.8);
}
#mediabox #width1 {
    display: none;
}
@media (min-width: 30em) {
    #mediabox {
        background-color: hsla(340,100%,70%,0.9);
    }
    #mediabox #width1 {
        display: block;
    }
    #mediabox #width2 {
        display: none;
        
    }
}






