/* 优先级，类选择器>元素选择器 */
.lizi {
    color: green;
}

h3 {
    color: red;
}

/* 覆盖性 */
.lizi2 {
    color: green;
}
.lizi2 {
    color:red;
}

/* 优先级，id选择器>类选择器 */
#liziid {
    color: blue;
}
.lizi3 {
    color:red;
}
/* font-size例子 */
#span1 {
    font-size: xx-small;
}
#span2 {
    font-size: x-small;
}
#span3 {
    font-size: small;
}
#span4 {
    font-size: medium;
}
#span5 {
    font-size: large;
}
#span6 {
    font-size: x-large;
}
#span7 {
    font-size: xx-large;
}

#rspan1 {
    font-size: larger;
}
#rspan2 {
    font-size: smaller;
}

#lspan1 {
    font-size: 0.5em;
}   
#lspan2 {
    font-size: 1.0ex;
}
#lspan3 {
    font-size: 26px;
}

#pspan {
    font-size: 50%;
}

/* width例子 */
#wdiv1 {
    box-sizing:content-box;
    width: 26px;
    border: 1px solid black;
}

#wdiv2 {
    width: 2em;
    border: 1px solid black;
}

#wdiv3 {
    width: 13px;
    border: 1px solid black;
}

#wdiv4 {
    width: 500px;
    border: 1px solid black;
}
#outdiv {
    width: 15em;
    height: 5em;
    border: 1px solid black;

}

#wdiv5 {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

#wdiv6 {
    width: auto;
    border: 1px solid black;
}
#wdiv7 {
    width: max-content;
    border: 1px solid black;
}
.wdiv8 {
    width: min-content;
    border: 1px solid black;
}
#wdiv9 {
    width: fit-content;
    border: 1px solid black;
}
#outdiv2 {
    width: 15em;
    height: 20em;
    border: 1px solid black;
}
#wdiv10 {
    width: fit-content;
    border: 1px solid black;
}
#wdiv11 {
    width: fit-content;
    border: 1px solid black;
}
#wdiv12 {
    width: fit-content;
    border: 1px solid black;
}

/* background-color例子 */
#bcdiv1 {
    width: fit-content;
    background-color: red;
}

#bcdiv2 {
    width: fit-content;
    background-color: #789abc;
}

#bcdiv3 {
    width: fit-content;
    background-color: rgb(123, 231, 213, 0.5);
}

#bchdiv1 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 80%, 0.5);
}
#bchdiv2 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 70%, 0.5);
}
#bchdiv3 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.5);
}
#bchdiv4 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 50%, 0.5);
}
#bchdiv5{
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 40%, 0.5);
}

#bchdiv6 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 1.0);
}
#bchdiv7 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.8);
}
#bchdiv8 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.6);
}
#bchdiv9 {
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.4);
}
#bchdiv10{
    width: 20em;
    height: 2em;
    background-color: hsla(120, 100%, 60%, 0.2);
}

#bcsdiv1 {
   
    width: 20em;
    height: 2em;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
    background-color: transparent;
}

#bcsdiv2 {
    width: 20em;
    height: 2em;
    background-color: currentColor;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
}
#bcsdiv3 {
    width: 20em;
    height: 2em;
    color:hsla(120, 100%, 60%, 0.8);
    background-color: currentColor;
    border: 1px solid hsla(120, 100%, 60%, 0.8);
}



