html {
  box-sizing: border-box;
  font-family: '微软雅黑', sans-serif;
  font-size: 10px;
}

*, *::after, *::before {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}