
input[type='text']:focus {
  outline: none;
}

input:invalid {
  border: 2px solid red;
  box-shadow: 0 0 3px red;
}

input:valid {
  border: 2px solid greenyellow;
  box-shadow: 0 0 2px greenyellow;
}